/ http://stackoverflow.com/questions/6392003/how-to-download-a-file-from-rails-application
/ http://twitter.github.com/bootstrap/javascript.html#tooltips
- if request.env['HTTP_USER_AGENT'].include? 'Mobi'
  = render :partial => 'mobile'
- else
  = render :partial => 'desktop'
#disable_adopted_sieve.hide
  = t('labels.disable_adopted_sieve')
#enable_adopted_sieve.hide
  = t('labels.enable_adopted_sieve')