#stat
  %span{:class=>'badge badge-error'}
    #icon
      %i.icon-map-marker
    #text1
      = Thing.where('user_id is null').count
#stat1
  %span{:class=>'badge badge-success'}
    #icon
      %i.icon-map-marker
    #text1
      = Thing.where('user_id is not null').count