//http://railscasts.com/episodes/268-sass-basics?view=comments
//http://stackoverflow.com/questions/10441563/asset-pipeline-and-font-face-on-railsrails-3-2-3
//http://stackoverflow.com/questions/5874122/is-it-possible-to-detect-firefox-users-in-pure-css
@font-face{
  font-family: MyriadPro-Semibold;
  src: url('MyriadPro-Semibold.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: MyriadPro-Regular;
  src: url('MyriadPro-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: BigCaslon;
  src: url('BigCaslon.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: Drew;
  src: url('Drew.ttf');
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
}

  
img{
  margin-bottom: 6px;
  margin-top: -6px;
}

body {
  height: 100%;
  margin: 0;
}

h1, h2 {
  text-align: center;
  margin: 20px 0 10px;
}

h2 {
  font-family: MyriadPro-Semibold;
  font-size: 22px;
  line-height: 25px;
  margin: 12px 0px;
}

#h2_adopt{
 border-bottom: 1px solid #DDDDDD;
 margin-right: 3px;
 margin-bottom: 16px;
}

@-moz-document url-prefix() {
    h2 { 
	  font-family: MyriadPro-Regular;
	  font-size: 22px;
	  line-height: 25px;
	  margin: 12px 0px; 
	}
}

form {
  margin-bottom: 0;
}

label {
  font-family: MyriadPro-Regular;
  text-align: left;
}

input {
  font-family: MyriadPro-Regular;
  width: 200px;
}

input[type="radio"], input[type="checkbox"] {
  font-family: MyriadPro-Regular;
  display: inline;
  float:left;
  width: auto;
  margin-right: 10px;
}

input#user_new {
  margin-bottom: 0;
}

input#user_existing {
  margin-bottom: 10px;
}

form select, button.btn, input[type="submit"].btn {
  font-family: MyriadPro-Regular;
  width: 210px;
}

form input.search-query {
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
  margin-bottom: 0;
  padding-left: 14px;
  padding-right: 14px;
  width: 180px;
}

a.btn {
  font-family: MyriadPro-Regular;
  width: 188px;
  align-text: center;
}

.table {
  display: table;
  height: 100%;
  width: 100%;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
  height: 100%;
  vertical-align: top;
}

.alert-message.block-message {
  padding: 8px 12px 8px;
  margin-bottom: 10px;
}

.sidebar .alert-message.block-message {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  text-align: left;
  padding-left: 10px;
}

.sidebar {
  width: 250px;
  border-right: 1px solid #ccc;
  text-align: center;

  p {
    font-family: MyriadPro-Regular;
	padding: 0px;
	margin-left: 20px;
	margin-right: 20px;
  }

  input, select, option, button, form.search-form input, form.search-form select, form.search-form option, a.btn {
    display: block;
    margin-bottom: 10px;
  }

  .control-group {
    margin-left: 20px;
  }

  .form-actions {
    padding: 17px 20px 10px;
  }
  
  .form-action {
    padding: 17px 20px 10px;
  }

  p#tagline {
    font-family: MyriadPro-Regular;
    color: #ffffff;
    background-color: #c43c35;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
    background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: linear-gradient(top, #ee5f5b, #c43c35);
    border-color: #c43c35 #c43c35 #882a25;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
    padding: 10px 20px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 8px;
  }

  #logos {
    height: 100px;
   
    #col1 {
	  float: left;
	  margin-left: 20px;
	  width: 100px;

	  img {
	    margin-top: 10px;
	  }
	}

	#col2 {
	  float: left;
	  margin-left: 12px;
	  margin-top: 28px;
	  width: 100px;
	}
  }

  #mayor {
    font-family: "Times New Roman", Times, serif;
    font-size: 8px;
    padding: 0;
    margin: -5px 0 0 0;

    a, a:active, a:hover, a:visited {
      color: #000;
	  text-decoration: none;
    }
  }

  #feedback {
    margin-top: 36px;
  }
}

.map-container {
  width: auto;
}

#map {
  height: 100%;
  width: 100%;
  padding: 1px;
}

#tos {
  text-align: left;
  font-family: BigCaslon;
  
  h2{
    font-family: BigCaslon;
  }

  p {
    font-family: BigCaslon;
    margin-bottom: 10px;
  }
}

.upcase {
  text-transform: uppercase;
}

.alpha {
  list-style-type: lower-alpha;
}

.roman {
  list-style-type: lower-roman;
}

img.lock {
  height: 9px;
  width: 7px;
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
  margin-right: 22px;
  margin-top: 3px;
}

p{
  font-family: MyriadPro-Regular;
}

#user_new{
 margin-top: 1px;
}

#user_existing{
 margin-top: 1px;
}

#required{
  margin-top: -4px;
  color: #ee5f5b;
  font-size: 12px;
  margin-bottom: -6px;
}

#user_remember_me{
 margin-top: 1px;
}

#user_email_label{
  margin-top: 8px;
}

#user_email{
  font-family: Drew;
}

#user_email_edit{
  font-family: MyriadPro-Regular;
}

.alert{
  margin-top: -10px;
  margin-bottom: 1px;
  padding: 8px 20px 0px 14px;
}

.radio{
  margin-top: 18px;
}

#city_state_label{
  margin-top: 8px;
}

#address{
  margin-bottom: 0px;
}

#sign_out_link{
  margin-bottom: 8px;
}

#save{
  margin-top: 0px;
}

#user_password_confirmation{
  font-family: Drew;
}

#user_password{
  font-family: Drew;
}

#user_new_password{
  font-family: Drew;
}

#user_current_password{
  font-family: Drew;
  margin-bottom: 0px;
}

i{
  margin-top: 4px;
  margin-right: -20px;
  float:left;
}

#sms_notifications{
 margin-top: -39px;
 margin-left: 178px;
 text-align:right;
 width: 10px;
 float:left;
}

#thing_name{
  float: left;
  margin-bottom: 2px;
}

#adopt_button{
  margin-bottom: 0px;
}

#user_email_edit_label{
  margin-top: 8px;
}

#back_link{
  margin-bottom: 8px;
}

.icon-bullhorn{
  margin-left: -2px;
  margin-right: 0px;
}

.icon-signin, .icon-plus, .icon-hdd{
  margin-left: 10px;
  margin-top: -32px;
  color: #ffffff;
}

#login{
  margin-top: 1px;
}

#signup{
  margin-top: 1px;
}

data-content{
  font-family: MyriadPro-Regular;
}

data-title{
  font-family: MyriadPro-Semibold;
}